$break-small: 640px;
$break-medium: 920px;
$break-large: 1200px;

html, body {
    margin: 0px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 0px;
}

body {
    color: #313435;
    font-size: 10px;
    line-height: 10px;
    font-family: 'Lato', Verdana, Arial, sans-serif;
    overflow-x: hidden;

}

a {
	text-decoration: none;
	color: black;
}

.home-button {
	position: absolute;
	top: 37%;
	left: 5%;
	font-size: 15px;
	box-shadow: 1px 1px 0px 0px blueviolet;
	padding: 5px;
	transition: all 0.5s ease;

	&:hover {
    	transform: scale(1.1);
    	transition: all 0.5s ease;
    	box-shadow: 1px 1px 0px 0px orange;
	}
}


.grid-contain {
	box-shadow: 1px 1px 0px 0px blueviolet;
	padding: 5px;
	width: 100%;
	background: white;
   	transition: all 0.5s ease;


	&:hover {
    	box-shadow: 1px 1px 0px 0px orange;
    	transition: all 0.5s ease;
	}

}

.header-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background-color: floralwhite;
	box-shadow: 1px 1px 1px -1px blueviolet;
}

.backdrops {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: block;
	background-color: white;
	left: 0;
	top: 0;
}

.header-container {
	h4 {
    	font-family: fantasy;
		text-align: center;
		font-size: 25px;
		color: black;

	}
}

.single-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.single-container {
	h1 {
		text-align: center;
	}
}

.loader-gif {
    position: relative;
    top: 5%;
    left: 36%;

     @media screen and (max-width: $break-small) {
    	left: 1%;

    }
}


#wrapper {
    padding: 5%;
    padding-top: 100px;
    background-color: whitesmoke;

    @media screen and (max-width: $break-small) {
 	   padding-top: 75px;

    }
    padding-top: none;
    padding-top: 75px;
}

.contents {
	color: black;

}

.grid-sizer {
	width: 15%;
}


.grid-sizer, .grid-item {
    width: 12%;
}

.grid {

	@media screen and (max-width: $break-small) {
	    left: 2%;

    }

}

.grid-item {
	width: 99px;
	display: table;
	padding: 8px;
	transition: all 0.5s ease;

	&:hover {
    	transform: scale(1.1);
    	transition: all 0.5s ease;
	}
}

.grid-image {
	height: auto;
	width: 100%;
	position: relative;;

    @media screen and (max-width: $break-small) {
    	max-width: 96px;
    }
	max-width: 90px;
}



html, body {
    margin: 0px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 0px;
}


body {
    color: #313435;
    font-size: 10px;
    line-height: 10px;
    font-family: 'Lato', Verdana, Arial, sans-serif;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: black;
}


.home-button {
    position: absolute;
    top: 37%;
    left: 5%;
    font-size: 15px;
    box-shadow: 1px 1px 0px 0px blueviolet;
    padding: 5px;
    transition: all 0.5s ease;
}


.home-button:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow: 1px 1px 0px 0px orange;
}


.grid-contain {
    box-shadow: 1px 1px 0px 1px blueviolet;
    padding: 5px;
    width: 100%;
    background: white;
    transition: all 0.5s ease;
}


.grid-contain:hover {
    box-shadow: 1px 1px 0px 0px orange;
    transition: all 0.5s ease;
}


.header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: floralwhite;
    box-shadow: 1px 1px 1px -1px blueviolet;
}


.backdrops {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: block;
    background-color: white;
    left: 0;
    top: 0;
}


.header-container h4 {
    font-family: fantasy;
    text-align: center;
    font-size: 25px;
    color: black;
}


.single-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.single-container h1 {
    text-align: center;
}


.loader-gif {
    position: relative;
    top: 5%;
    left: 36%;
}


@media screen and (max-width: 640px) {
}


#wrapper {
    padding: 5%;
    padding-top: 75px;
    background-color: whitesmoke;
}


@media screen and (max-width: 640px) {
}


.contents {
    color: black;
}


.grid-sizer {
    width: 15%;
}


.grid-sizer, .grid-item {
    width: 12%;
}


@media screen and (max-width: 640px) {
}


.grid-item {
    width: 99px;
    display: table;
    padding: 8px;
    transition: all 0.5s ease;
}


.grid-item:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}


.grid-image {
    height: auto;
    width: 100%;
    position: relative;
    max-width: 90px;
}


@media screen and (max-width: 640px) {
}